{
    "openapi": "3.0.0",
    "info": {
        "title": "ScreenConnect",
        "version": "23.9.10.8817"
    },
    "servers": [
        {
            "url": "https://help.alphascan.co.uk/"
        }
    ],
    "paths": {
        "/Services/AppearanceService.ashx/resource-info": {
            "get": {
                "operationId": "GetResourceInfo",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errorType": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "message": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "detail": {
                                            "type": "string",
                                            "format": ""
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Services/AppearanceService.ashx/resource": {
            "put": {
                "operationId": "SaveResource",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errorType": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "message": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "detail": {
                                            "type": "string",
                                            "format": ""
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "resourceType": {
                                        "type": "string",
                                        "format": ""
                                    },
                                    "key": {
                                        "type": "string",
                                        "format": ""
                                    },
                                    "isImage": {
                                        "type": "boolean",
                                        "format": ""
                                    },
                                    "overrideValuesByCultureKey": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Services/AppearanceService.ashx/theme-info": {
            "get": {
                "operationId": "GetThemeInfo",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errorType": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "message": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "detail": {
                                            "type": "string",
                                            "format": ""
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Services/AppearanceService.ashx/theme": {
            "put": {
                "operationId": "SetTheme",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errorType": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "message": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "detail": {
                                            "type": "string",
                                            "format": ""
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "themeName": {
                                        "type": "string",
                                        "format": ""
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Services/AuditService.ashx/audit-log/query": {
            "post": {
                "operationId": "QueryAuditLog",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errorType": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "message": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "detail": {
                                            "type": "string",
                                            "format": ""
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "minTime": {
                                        "type": "string",
                                        "format": "date-time"
                                    },
                                    "maxTime": {
                                        "type": "string",
                                        "format": "date-time"
                                    },
                                    "sessionName": {
                                        "type": "string",
                                        "format": ""
                                    },
                                    "shouldIncludeSessionCaptures": {
                                        "type": "boolean",
                                        "format": ""
                                    },
                                    "sessionEventTypes": {},
                                    "securityEventTypes": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Services/AuditService.ashx/audit-info": {
            "get": {
                "operationId": "GetAuditInfo",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errorType": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "message": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "detail": {
                                            "type": "string",
                                            "format": ""
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Services/AuditService.ashx/audit-level/apply": {
            "post": {
                "operationId": "ApplyAuditLevel",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errorType": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "message": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "detail": {
                                            "type": "string",
                                            "format": ""
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "auditLevel": {
                                        "type": "integer",
                                        "format": "int64"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Services/AuthenticationService.ashx/external-login-url": {
            "get": {
                "operationId": "GetExternalLoginUrl",
                "parameters": [
                    {
                        "name": "providerName",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": ""
                        }
                    },
                    {
                        "name": "applicationBaseUrl",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": ""
                        }
                    },
                    {
                        "name": "returnUrl",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": ""
                        }
                    },
                    {
                        "name": "loginHint",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": ""
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errorType": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "message": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "detail": {
                                            "type": "string",
                                            "format": ""
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Services/AuthenticationService.ashx/login/try": {
            "post": {
                "operationId": "TryLogin",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errorType": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "message": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "detail": {
                                            "type": "string",
                                            "format": ""
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "userName": {
                                        "type": "string",
                                        "format": ""
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": ""
                                    },
                                    "oneTimePassword": {
                                        "type": "string",
                                        "format": ""
                                    },
                                    "shouldTrust": {
                                        "type": "boolean",
                                        "format": ""
                                    },
                                    "securityNonce": {
                                        "type": "string",
                                        "format": ""
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Services/AuthenticationService.ashx/logout/try": {
            "post": {
                "operationId": "TryLogout",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errorType": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "message": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "detail": {
                                            "type": "string",
                                            "format": ""
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Services/AuthenticationService.ashx/password/change": {
            "post": {
                "operationId": "ChangePassword",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errorType": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "message": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "detail": {
                                            "type": "string",
                                            "format": ""
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "userName": {
                                        "type": "string",
                                        "format": ""
                                    },
                                    "currentPassword": {
                                        "type": "string",
                                        "format": ""
                                    },
                                    "newPassword": {
                                        "type": "string",
                                        "format": ""
                                    },
                                    "verifyNewPassword": {
                                        "type": "string",
                                        "format": ""
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Services/AuthenticationService.ashx/password-reset/initiate": {
            "post": {
                "operationId": "InitiatePasswordReset",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errorType": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "message": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "detail": {
                                            "type": "string",
                                            "format": ""
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "userName": {
                                        "type": "string",
                                        "format": ""
                                    },
                                    "securityNonce": {
                                        "type": "string",
                                        "format": ""
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Services/AuthenticationService.ashx/reset-password/try": {
            "post": {
                "operationId": "TryResetPassword",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errorType": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "message": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "detail": {
                                            "type": "string",
                                            "format": ""
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "resetCode": {
                                        "type": "string",
                                        "format": ""
                                    },
                                    "userName": {
                                        "type": "string",
                                        "format": ""
                                    },
                                    "newPassword": {
                                        "type": "string",
                                        "format": ""
                                    },
                                    "verifyNewPassword": {
                                        "type": "string",
                                        "format": ""
                                    },
                                    "securityNonce": {
                                        "type": "string",
                                        "format": ""
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Services/DatabaseService.ashx/configuration": {
            "get": {
                "operationId": "GetConfiguration",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errorType": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "message": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "detail": {
                                            "type": "string",
                                            "format": ""
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Services/DatabaseService.ashx/action": {
            "put": {
                "operationId": "SaveAction",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errorType": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "message": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "detail": {
                                            "type": "string",
                                            "format": ""
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "action": {}
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "operationId": "DeleteAction",
                "parameters": [
                    {
                        "name": "actionID",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": ""
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errorType": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "message": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "detail": {
                                            "type": "string",
                                            "format": ""
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Services/DatabaseService.ashx/schedule": {
            "put": {
                "operationId": "SaveSchedule",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errorType": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "message": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "detail": {
                                            "type": "string",
                                            "format": ""
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "runAtUtcTimeMinutes": {
                                        "type": "integer",
                                        "format": "int32"
                                    },
                                    "daysIncludedOrExcluded": {
                                        "type": "boolean",
                                        "format": ""
                                    },
                                    "days": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Services/DatabaseService.ashx/run-maintenance/force": {
            "post": {
                "operationId": "ForceRunMaintenance",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errorType": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "message": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "detail": {
                                            "type": "string",
                                            "format": ""
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Services/ExtensionService.ashx/extension-infos": {
            "get": {
                "operationId": "GetExtensionInfos",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errorType": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "message": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "detail": {
                                            "type": "string",
                                            "format": ""
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Services/ExtensionService.ashx/extension-setting-values": {
            "put": {
                "operationId": "SaveExtensionSettingValues",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errorType": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "message": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "detail": {
                                            "type": "string",
                                            "format": ""
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "extensionID": {
                                        "type": "string",
                                        "format": ""
                                    },
                                    "settingValues": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Services/ExtensionService.ashx/extension/install": {
            "post": {
                "operationId": "InstallExtension",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errorType": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "message": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "detail": {
                                            "type": "string",
                                            "format": ""
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "packageContent": {
                                        "type": "string",
                                        "format": ""
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Services/ExtensionService.ashx/extension/uninstall": {
            "post": {
                "operationId": "UninstallExtension",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errorType": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "message": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "detail": {
                                            "type": "string",
                                            "format": ""
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "extensionID": {
                                        "type": "string",
                                        "format": ""
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Services/ExtensionService.ashx/extension-enabled": {
            "put": {
                "operationId": "SetExtensionEnabled",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errorType": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "message": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "detail": {
                                            "type": "string",
                                            "format": ""
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "extensionID": {
                                        "type": "string",
                                        "format": ""
                                    },
                                    "enabledOrDisabled": {
                                        "type": "boolean",
                                        "format": ""
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Services/ExtensionService.ashx/instance-user-info": {
            "get": {
                "operationId": "GetInstanceUserInfo",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errorType": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "message": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "detail": {
                                            "type": "string",
                                            "format": ""
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Services/ExtensionService.ashx/review/sign": {
            "post": {
                "operationId": "SignReview",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errorType": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "message": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "detail": {
                                            "type": "string",
                                            "format": ""
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "reviewComment": {
                                        "type": "string",
                                        "format": ""
                                    },
                                    "reviewerDisplayName": {
                                        "type": "string",
                                        "format": ""
                                    },
                                    "reviewRating": {
                                        "type": "integer",
                                        "format": "int32"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Services/LicenseService.ashx/license-info": {
            "get": {
                "operationId": "GetLicenseInfo",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errorType": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "message": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "detail": {
                                            "type": "string",
                                            "format": ""
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Services/LicenseService.ashx/license": {
            "post": {
                "operationId": "AddLicense",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errorType": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "message": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "detail": {
                                            "type": "string",
                                            "format": ""
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "userString": {
                                        "type": "string",
                                        "format": ""
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "operationId": "RemoveLicense",
                "parameters": [
                    {
                        "name": "licenseID",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": ""
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errorType": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "message": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "detail": {
                                            "type": "string",
                                            "format": ""
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Services/LicenseService.ashx/basic-license-capabilities": {
            "get": {
                "operationId": "GetBasicLicenseCapabilities",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errorType": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "message": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "detail": {
                                            "type": "string",
                                            "format": ""
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Services/LicenseService.ashx/upgrade-url": {
            "get": {
                "operationId": "GetUpgradeUrl",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errorType": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "message": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "detail": {
                                            "type": "string",
                                            "format": ""
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Services/MailService.ashx/email/send": {
            "post": {
                "operationId": "SendEmail",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errorType": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "message": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "detail": {
                                            "type": "string",
                                            "format": ""
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "to": {
                                        "type": "string",
                                        "format": ""
                                    },
                                    "subjectResourceBaseNameFormat": {
                                        "type": "string",
                                        "format": ""
                                    },
                                    "subjectResourceNameFormatArgs": {},
                                    "subjectResourceFormatArgs": {},
                                    "bodyResourceBaseNameFormat": {
                                        "type": "string",
                                        "format": ""
                                    },
                                    "bodyResourceNameFormatArgs": {},
                                    "bodyResourceFormatArgs": {},
                                    "isBodyHtml": {
                                        "type": "boolean",
                                        "format": ""
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Services/MailService.ashx/test-email/send": {
            "post": {
                "operationId": "SendTestEmail",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errorType": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "message": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "detail": {
                                            "type": "string",
                                            "format": ""
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "from": {
                                        "type": "string",
                                        "format": ""
                                    },
                                    "relayHost": {
                                        "type": "string",
                                        "format": ""
                                    },
                                    "to": {
                                        "type": "string",
                                        "format": ""
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Services/MailService.ashx/mail-configuration-info": {
            "get": {
                "operationId": "GetMailConfigurationInfo",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errorType": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "message": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "detail": {
                                            "type": "string",
                                            "format": ""
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Services/MailService.ashx/mail-configuration": {
            "put": {
                "operationId": "SaveMailConfiguration",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errorType": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "message": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "detail": {
                                            "type": "string",
                                            "format": ""
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "defaultMailFromAddress": {
                                        "type": "string",
                                        "format": ""
                                    },
                                    "smtpRelayServerHostName": {
                                        "type": "string",
                                        "format": ""
                                    },
                                    "defaultMailToAddress": {
                                        "type": "string",
                                        "format": ""
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Services/OverviewService.ashx/overview-info": {
            "get": {
                "operationId": "GetOverviewInfo",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errorType": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "message": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "detail": {
                                            "type": "string",
                                            "format": ""
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Services/PageService.ashx/live-data": {
            "get": {
                "operationId": "GetLiveData",
                "parameters": [
                    {
                        "name": "requestInfoMap",
                        "in": "query",
                        "schema": {}
                    },
                    {
                        "name": "version",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errorType": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "message": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "detail": {
                                            "type": "string",
                                            "format": ""
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Services/PageService.ashx/session-details": {
            "get": {
                "operationId": "GetSessionDetails",
                "parameters": [
                    {
                        "name": "sessionGroupPathPartsOrName",
                        "in": "query",
                        "schema": {}
                    },
                    {
                        "name": "sessionID",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": ""
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errorType": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "message": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "detail": {
                                            "type": "string",
                                            "format": ""
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Services/PageService.ashx/initiated-join/log": {
            "post": {
                "operationId": "LogInitiatedJoin",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errorType": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "message": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "detail": {
                                            "type": "string",
                                            "format": ""
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "sessionID": {
                                        "type": "string",
                                        "format": ""
                                    },
                                    "processType": {
                                        "type": "integer",
                                        "format": "int64"
                                    },
                                    "data": {
                                        "type": "string",
                                        "format": ""
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Services/PageService.ashx/access-token": {
            "get": {
                "operationId": "GetAccessToken",
                "parameters": [
                    {
                        "name": "sessionGroupPathPartsOrName",
                        "in": "query",
                        "schema": {}
                    },
                    {
                        "name": "sessionID",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": ""
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errorType": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "message": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "detail": {
                                            "type": "string",
                                            "format": ""
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Services/PageService.ashx/delegated-access-token": {
            "get": {
                "operationId": "GetDelegatedAccessToken",
                "parameters": [
                    {
                        "name": "sessionGroupPathPartsOrName",
                        "in": "query",
                        "schema": {}
                    },
                    {
                        "name": "sessionID",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": ""
                        }
                    },
                    {
                        "name": "sessionPermissions",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "expireSeconds",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "memo",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": ""
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errorType": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "message": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "detail": {
                                            "type": "string",
                                            "format": ""
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Services/PageService.ashx/sessions/transfer": {
            "post": {
                "operationId": "TransferSessions",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errorType": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "message": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "detail": {
                                            "type": "string",
                                            "format": ""
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "sessionGroupPathPartsOrName": {},
                                    "sessionIDs": {},
                                    "toHost": {
                                        "type": "string",
                                        "format": ""
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Services/PageService.ashx/session-events": {
            "post": {
                "operationId": "AddSessionEvents",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errorType": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "message": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "detail": {
                                            "type": "string",
                                            "format": ""
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "sessionGroupPathPartsOrName": {},
                                    "eventEntries": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Services/PageService.ashx/session": {
            "post": {
                "operationId": "CreateSession",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errorType": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "message": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "detail": {
                                            "type": "string",
                                            "format": ""
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "sessionType": {
                                        "type": "integer",
                                        "format": "int64"
                                    },
                                    "name": {
                                        "type": "string",
                                        "format": ""
                                    },
                                    "isPublic": {
                                        "type": "boolean",
                                        "format": ""
                                    },
                                    "code": {
                                        "type": "string",
                                        "format": ""
                                    },
                                    "customPropertyValues": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Services/PageService.ashx/sessions": {
            "put": {
                "operationId": "UpdateSessions",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errorType": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "message": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "detail": {
                                            "type": "string",
                                            "format": ""
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "sessionGroupPathPartsOrName": {},
                                    "sessionIDs": {},
                                    "names": {},
                                    "customPropertyValues": {}
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Services/PageService.ashx/session-code": {
            "put": {
                "operationId": "UpdateSessionCode",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {}
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "errorType": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "message": {
                                            "type": "string",
                                            "format": ""
                                        },
                                        "detail": {
                                            "type": "string",
                                            "format": ""
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "sessionGroupPathPartsOrName": {},
                                    "sessionID": {
                                        "type": "string",
                                        "format": ""
                                    },
                                    "code": {
[...]
